.new-lists-style{background: url("/static/img/index-new-line.jpg") no-repeat scroll 5px 18px;}
.hotsr .new-icon{padding:1px 5px;font-size: 12px;margin-right: 8px;}
.hotsr .d-icon-red{background: url("/static/img/index_new_icon_red.png")no-repeat scroll 0 3px;display: none;}
.hotsr .d-icon-gray{background: url("/static/img/index_new_icon_gray.png")no-repeat scroll 0 3px;}
.hotsr .show .d-icon-red{display: inline;}
.hotsr .show .d-icon-gray{display: none;}
.hotsr .show:hover a{color:#ff3a20;}
.index_model_title img{width: 26px;margin-top: 5px;}
.index_model_title h4{margin-top:7px;}
